.main {
    padding: 1%;
    overflow-x: hidden;
}

.boardListsDiv {
    padding: 1%;
}

.addDiv {
    width: 20vw;
}

.mainDiv {
    height: 100vh;
    width: 50vw;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
  }

.testimonial-group > .row > .col-xs-4 {
    display: inline-block;
    float: none;
  }

.secondaryDiv {
    display: table-cell;
    vertical-align: middle;
}

.boardList {
    margin: 1%;
    padding: 0.5%;
    text-align: center;
    width: 300px;
    min-width: 300px;
}

.boardInput {
    background-color: transparent;
    border: none;
    color: #2aa198;
    font-size: 1.5em;
    font-weight: bold;
}

.deleteButton {
    text-align: right;
    font-size: 2.5em;
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: 10px;
}

.deleteButton:hover {
    color: #cb4b16;
}

.text-background {
    color: #002b36;
}

.alertDiv {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}